@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #13141A;
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: 0.03;
    position: absolute;
}

.profile {
    padding-top: 55px;
    margin: 0px 170px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.profile strong {
    color: #A90448;
    font-weight: bold;
}

.profilePhoto {
    border-radius: 50%;
    border: 5px solid #A90448;
}

.profileDesc p{
    font-size: 18px;
}

.skills {
    color: #17C69B;
    margin-top: 23px;
    font-size: 16px;
}

.skills img {
    width: 50px;
    margin-right: 15px;
    margin-top: 15px;
}

.skillsBoxHTML {
    visibility: hidden;
    overflow: hidden;
    margin-top: 15px;
    background-color: #FDA543;
    width: 10px;
    height: 150px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    transition: 1s;
}

